:root {
  --very-light-green-bg: #D8FFFC;
  --green-light: #4BC081;
  --underline-green: #24F584;
  --green-dark: #004520;
  --sub-text-color: #161616;
  --bottom-color: #013117;
  --right-color: #bbfad8;
  --green-light-secondary: #DBFFEC;
  --secondary-bg: #D9D9D9CC;
  --white: #ffffff;
  --black: #000000;
  --primary-btn-hvr: #3e468e;
  --red: #d93025;
  --text-grey: #0f0f0f;
  --company-colour: #EB662D;
  --footer-text-colour: #BEBEBE;
  

  --nav-radius: 12px;
  --mobile-gutter: 18px;
}
